.emj1{
    
    bottom: 10px;
    left: 20PX;
    animation-name: emj1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}
@keyframes emj1 {
    from{bottom: 10px;
    left: 20PX;}
    to{bottom: 50px;
    left: 20px;}
    
}
.emj2{
    
    bottom: 10px;
    left: 150px;
    animation-name: emj2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes emj2 {
    from{bottom: 10px;
    left: 140px;}
    to{bottom: 10px;
    left: 160px;}
    
}
.emj3{
    
    bottom: 10px;
    left: 300px;
    animation-name: emj3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* justify-content: space-evenly; */


}
@keyframes emj3 {
    /* from{bottom: 10px;
    left: 300px;}
    to{bottom: 50px;
    left: 300px;}
     */
     from{transform: rotate(-15deg);}
     to{transform: rotate(15deg);}
}

.frame{
 border: 4px solid darkgray;
  border-radius: 15px;
  padding: 80px;
  width: 250px;
  background-color: black;
place-self:center;
margin-top: 200px;
text-align: center;

}